

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.resume {
  background-color: rgb(215, 229, 245);
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

nav {
  background-color: #cee7da;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: rgb(12, 11, 11);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: rgb(141, 147, 155);
  color: #000000; 
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

footer {
  text-align: center;
  margin-top: 50px;
  color: #bfc210;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
